<div class="title-area">
  <h1 class="post-title"><%= post.escape('title') %></h1>
</div>

<div class="body-area">
  <p class="post-body"><%= post.escape('body') %></p>
</div>

<button class='delete'>Delete Post</button>
